html,body{width:100%;height:100%;}
*{padding:0;margin:0;}
a{text-decoration:none;}
ul,li,ol{list-style:none;}
body{-webkit-overflow-scrolling:touch;}
.mui-content{height:100%;padding-bottom:0 !important;}
#home,#agency,#myApp{height:100%;position:relative;}
#home_oneView,#agency,#myApp{padding-bottom:50px;}
.home_header{position:fixed;top:0;left:0;right:0;background:#fff;}
.search_box.mui-table-view-cell:after{left:0;background-color:#dedede;}
.home_search .mui-input-clear{margin-bottom:0;border-radius:30px;height:28px;font-size:14px;color:#666;}
.home_search.mui-search .mui-placeholder{border-radius:30px;height:28px;line-height:28px;font-size:14px;background-color:#efefef;}
.home_search.mui-search.mui-active .mui-input-clear{background-color:#efefef;}
.home_search.mui-search.mui-active:before{top:80%;font-size:18px;}
.home_search.mui-search .mui-placeholder .mui-icon{font-size:18px;}
.home_search.mui-search .mui-icon-clear{font-size:18px;width:20px;height:20px;top:5px;right:5px;}
.mui_nav.mui-table-view-cell:after{height:1px;left:0;}
.mui_nav .btn{background:#eeeeee;padding:0;font-size:12px;width:18%;border-color:#fff;}
.mui_nav .btn a{width:100%;display:block;color:#2f4457;padding:6px 8px;}
.mui_nav .btn:nth-child(2){width:22%;}

.mui_nav .btn a:active{background:#fff;color:#2f4457;border:1px solid #16b7ca;border-radius:3px;}
.mui_nav .down{display:inline-block;border:3px solid; border-color:rgba(255,255,255,0);border-top:3px solid #757575;}
@media (max-device-width: 320px){
    .mui_nav .btn{padding-left:3px;padding-right:3px;}
    .mui_nav .btn:nth-child(2){width:21%;}
}

.mui-table-view.list_box .mui-table-view-cell:after{left:0}

.list_box .title{font-size:16px;color:#293c4e;margin-bottom:10px;}
.list_box .progress{color:#718194;margin-bottom:8px;}
.list_box .update{color:#ff5453;}
.news,.file,.path{font-size:18px;margin-left:10px;color:#9aa5b3;}
.home_list .mui-scroll-wrapper{top:103px;}

#home .mui-navbar{height:0;}
#home .mui-pages{top:0;}

#home .mui-bar-nav{background-color:#f0f0f0;}
#home .mui-page-content{background-color:#f3f3f3;}
#home .mui-title,#home .mui-icon-left-nav{color:#2f4457;}
#home .project_details_box{padding-top:44px;}

#home .project_name .pro_name{font-size:16px;color:#293c4e;}
#home .project_name .pro_update{font-size:14px;color:#8391a2;}



.pro_module{width:100%;height:21px;padding-left:96px;position:relative;}
.pro_progress.pro_module,.stage_progress.pro_module{padding-right:60px;}
.pro_module:last-child{margin-bottom:0;}
.pro_title{position:absolute;left:0;color:#293c4e;}
.pro_gressbar_number{position:absolute;right:0;top:1px;}
.pro_module .mui-progressbar{
    height:5px;background:#f0f0f0;
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
}
.pro_module .pro_content{color:#5E6D82;}
.pro_module .pro_content .mui-icon{font-size:20px;}
.mui-progressbar span{background:#16B7CA;}
.pro_describe .pro_module{height:auto;}

.pro_stage .mui-card-content-inner{padding-bottom:0;font-size:14px;color:#1F2D3D;}
.pro_stage .mui-card{border-radius:4px 4px 0 0;}
.pro_stage .mui-card-header{background-color:#16B7CA;color:#fff;}
.left_icon{width:8px;height:8px;display:inline-block;border-bottom:1px solid;border-left:1px solid;border-color:#D8D8D8;margin-right:12px;}
.mui-icon{font-size:21px;color:#5E6D82;}
.pro_stage .mui-table-view-cell{color:#5E6D82;}
.pro_stage .mui-table-view-cell.task_checked{color:#A0A0A0;}
.pro_stage .mui-table-view-cell.mui-checkbox.mui-left{width:100%;padding:0;padding-left:50px;}
.pro_stage .mui-table-view-cell:after{height:0;}
.pro_stage .mui-table-view-cell input[type='checkbox']:before{font-size:24px;}

.pro_file.mui-table-view-cell{padding-top:0;padding-left:78px;padding-right:0;}
.pro_file.mui-table-view-cell > a{padding:0;white-space: normal;margin:0;overflow:visible;}
.file-icon{width:20px;height:20px;background-image:url(./static/img/file-icon.jpg);
    -webkit-background-size:1600%;background-size:1600%;position:absolute;left:-25px;top:0;}

.excel-icon{background-position:-18px;}
.pdf-icon{background-position:-62px;}
.img-icon{background-position:-105px;}
.ppt-icon{background-position:-150px;}
.nofile-icon{background-position:-195px;}
.word-icon{background-position:-237px;}
.noshow-icon{background-position:-285px;}

#touch,#touch_stage{width:50px;height:50px;border-radius:50%;position:fixed;background:#fff;z-index:999;box-shadow:0 2px 8px rgba(0,0,0,.3);-webkit-box-shadow:0 2px 8px rgba(0,0,0,.3);text-align:center;}
#touch{left:78%;top:78%;line-height:58px;}
#touch_stage{left:78%;top:65%;line-height:55px;}
#touch a,#touch_stage a{width:100%;height:100%;display:block;color:#16B7CA;}
#touch_stage a .mui-icon{color:#16B7CA;}
#touch_file {width:180px;max-height:230px;height:140px;}
#touch_file .mui-table-view-cell:after,#stage_list .mui-table-view-cell:after{right:15px;}
#touch_file a,#stage_list a{text-align:center;color:#243445;}
#touch_file a.active,#stage_list a.active{color:#1E80E8;}
#stage_list{width:226px;height:192px;}
#stage_list a{display:inline-block;margin:-12px 0;}
#touch_file,#stage_list{z-index:99999;}

#project_details .mui-checkbox input[type='checkbox']:checked:before{color:#CBCBCB;}
#project_details .mui-card{-webkit-box-shadow: 0 1px 2px rgba(1,1,1,.1);box-shadow: 0 1px 2px rgba(1,1,1,.1);}
#project_details .mui-table-view-cell label{padding:10px 0;}
#project_details .mui-popover{position:fixed;}
.mui-page-content{overflow:auto;}
.
/*留言*/
#home_view .mui-action-back{color:#334251;}

.file_news_box{height:100%;padding-top:44px;}

#slider{height:100%;padding-bottom:35px;}
#slider .slider-group{height:100%;}
#home_view .slider-group .mui-slider-item{border-bottom:0;}
#home_view .slider-group .mui-scroll{height:100%;padding-bottom:58px;overflow-y:auto;}
#home_view .slider-group .slider-item{font-size: 14px;
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: top;
    white-space: normal;}
#home_view .mui-table-view:after{height:0;}
#home_view .mui-table-view:before{height:0;}
#newsMobile .mui-scroll,#newsMobile .mui-table-view,#newsMobile .mui-scroll-wrapper{background-color:#f3f3f3;}
#newsMobile .mui-table-view-cell:after{height:0;}
.news_state{width:6px;height:6px;display:inline-block;border-radius:50%;vertical-align:middle;margin-right:6px;}
.news_state.active{background:#FD5C63;}
#newsMobile .mui-slider-handle{color:#666666;}
#newsMobile .mui-slider-handle .news_content{color:#333333;padding-left:12px;}
#newsMobile .mui-btn-red{background-color:#FF4949;}
.leave_message{position:absolute;bottom:0;left:0;width:100%;height:55px;background:#fff;z-index:99999;padding:10px;padding-right:55px;
    -webkit-box-shadow:1px 0 5px rgba(1,1,1,.2);
    -moz-box-shadow: 1px 0 5px rgba(1,1,1,.2);
    box-shadow: 1px 0 5px rgba(1,1,1,.2);}
.leave_message .message_content{height:35px;background:#eeeeee;border-color:#DFDFDF;font-size:14px;}
.message_submit{width:35px;height:55px;position:absolute;right:10px;top:0;text-align:center;line-height:55px;color:#2BB2FD;cursor:pointer;font-size:16px;}


/*文件*/
#fileMobile .mui-scroll-wrapper, .mui-scroll{background-color:#f3f3f3;}
#fileMobile .mui-input-group{background-color:#f3f3f3;box-shadow:none;-webkit-box-shadow:none;}
#fileMobile .mui-input-group:after{height:0;}
#fileMobile .mui-input-group:before{height:0;}
#fileMobile .mui-input-group label{font-size:14px;}
#fileMobile .mui-input-text{background:#fff;border:1px solid #DEDEDE;border-radius:3px;margin-top:10px;font-size:14px;}

.upload_file_btn{width:60px;height:60px;border:1px dashed #DEDEDE;cursor:pointer;margin-top:10px;text-align:center;}
.upload_file_btn .mui-icon{font-size:42px;line-height:58px;}
.file_list .mui-media{margin-top:8px;}
.del_file{height:30px;}
.del_file .mui-icon{font-size:26px;}
.file_list .mui-ellipsis{margin-top:3px;}
.file_list .mui-progressbar{height:6px;}
.file_list .mui-media-body{width:90%;}
.file_list .file_name{color:#333333;margin-bottom:5px;}
.file_sub_btn_box{margin-top:30px;}


#fileMobile .webuploader-container {
    position:relative;
}
#fileMobile .webuploader-element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
    left:1px;
}
#fileMobile .webuploader-pick{
    position: relative;
    display: inline-block;
}

#fileMobile .webuploader-pick-disable {
    opacity: 0.6;
    pointer-events:none;
}


















 #agency .mui-card-content-inner{padding-bottom:0;}
#agency .mui-card{border-radius:4px 4px 0 0;}
#agency .mui-card-header{background-color:#16B7CA;color:#fff;}
#agency .hospital_name{color:#2f4457;font-size:18px;}
#agency .task{color:#2f4457;font-size:14px;}
#agency .other_information i{font-size:16px;}
#agency .clearance{height:10px;background-color:#F3F3F3;}

.mui-popover {
    height: 300px;
}


#myApp .mui-views,#myApp .mui-view,#myApp .mui-pages,#myApp .mui-page,#myApp .mui-page-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #efeff4;
}

#myApp .mui-navbar {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    height: 44px;
    background-color: #f7f7f8;
}
#myApp .mui-pages {
    top: 47px;
    height: auto;
}