html,body{width:100%;height:100%;}
.mui-content{height:100%;}
#home,#agency,#myApp{height:100%;position:relative;}
.home_header{position:fixed;top:0;left:0;right:0;background:#fff;}
.search_box.mui-table-view-cell:after{left:0;background-color:#dedede;}
.home_search .mui-input-clear{margin-bottom:0;border-radius:30px;height:28px;font-size:14px;color:#666;}
.home_search.mui-search .mui-placeholder{border-radius:30px;height:28px;line-height:28px;font-size:14px;background-color:#efefef;}
.home_search.mui-search.mui-active .mui-input-clear{background-color:#efefef;}
.home_search.mui-search.mui-active:before{top:80%;font-size:18px;}
.home_search.mui-search .mui-placeholder .mui-icon{font-size:18px;}
.home_search.mui-search .mui-icon-clear{font-size:18px;width:20px;height:20px;top:5px;right:5px;}
.mui_nav.mui-table-view-cell:after{height:1px;left:0;}
.mui_nav .btn{background:#eeeeee;padding:0;font-size:12px;width:18%;border-color:#fff;}
.mui_nav .btn a{width:100%;display:block;color:#2f4457;padding:6px 8px;}
.mui_nav .btn:nth-child(2){width:22%;}

.mui_nav .btn a:active{background:#fff;color:#2f4457;border:1px solid #16b7ca;border-radius:3px;}
.mui_nav .down{display:inline-block;border:3px solid; border-color:rgba(255,255,255,0);border-top:3px solid #757575;}
@media (max-device-width: 320px){
    .mui_nav .btn{padding-left:3px;padding-right:3px;}
    .mui_nav .btn:nth-child(2){width:21%;}
}

.mui-table-view.list_box .mui-table-view-cell:after{left:0}

.list_box .title{font-size:16px;color:#293c4e;margin-bottom:10px;}
.list_box .progress{color:#718194;margin-bottom:8px;}
.list_box .update{color:#ff5453;}
.news,.file,.path{font-size:18px;margin-left:10px;color:#9aa5b3;}
.home_list .mui-scroll-wrapper{top:103px;}

#agency .mui-card-content-inner{padding-bottom:0;}
#agency .mui-card{border-radius:4px 4px 0 0;}
#agency .mui-card-header{background-color:#16B7CA;color:#fff;}
#agency .hospital_name{color:#2f4457;font-size:18px;}
#agency .task{color:#2f4457;font-size:14px;}
#agency .other_information i{font-size:16px;}
#agency .clearance{height:10px;background-color:#F3F3F3;}

.mui-popover {
    height: 300px;
}


#myApp .mui-views,#myApp .mui-view,#myApp .mui-pages,#myApp .mui-page,#myApp .mui-page-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #efeff4;
}